ClientWeb/xml-resources/web-service-references/WS01/wsdl/localhost_8080/ServiceWebSOAP/WS01.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.edu.idat/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.edu.idat/">

<xs:element name="ActualizarAlumnos" type="tns:ActualizarAlumnos"/>

<xs:element name="ActualizarAlumnosResponse" type="tns:ActualizarAlumnosResponse"/>

<xs:element name="AgregarAlumnos" type="tns:AgregarAlumnos"/>

<xs:element name="AgregarAlumnosResponse" type="tns:AgregarAlumnosResponse"/>

<xs:element name="EliminarAlumnos" type="tns:EliminarAlumnos"/>

<xs:element name="EliminarAlumnosResponse" type="tns:EliminarAlumnosResponse"/>

<xs:element name="ListarAlumnos" type="tns:ListarAlumnos"/>

<xs:element name="ListarAlumnosResponse" type="tns:ListarAlumnosResponse"/>

<xs:complexType name="ListarAlumnos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarAlumnosResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="edad" type="xs:int" minOccurs="0"/>
<xs:element name="grado" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAlumnos">
<xs:sequence>
<xs:element name="alumno" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAlumnosResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="EliminarAlumnos">
<xs:sequence>
<xs:element name="codigo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAlumnosResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ActualizarAlumnos">
<xs:sequence>
<xs:element name="alumno" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarAlumnosResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>