ClientWeb/xml-resources/web-service-references/WS01/wsdl/localhost_8080/ServiceWebSOAP/WS01.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.edu.idat/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.edu.idat/" name="WS01">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.edu.idat/" schemaLocation="http://localhost:8080/ServiceWebSOAP/WS01?xsd=1"/>
</xsd:schema>
</types>
<message name="EliminarAlumnos">
<part name="parameters" element="tns:EliminarAlumnos"/>
</message>
<message name="EliminarAlumnosResponse">
<part name="parameters" element="tns:EliminarAlumnosResponse"/>
</message>
<message name="ListarAlumnos">
<part name="parameters" element="tns:ListarAlumnos"/>
</message>
<message name="ListarAlumnosResponse">
<part name="parameters" element="tns:ListarAlumnosResponse"/>
</message>
<message name="AgregarAlumnos">
<part name="parameters" element="tns:AgregarAlumnos"/>
</message>
<message name="AgregarAlumnosResponse">
<part name="parameters" element="tns:AgregarAlumnosResponse"/>
</message>
<message name="ActualizarAlumnos">
<part name="parameters" element="tns:ActualizarAlumnos"/>
</message>
<message name="ActualizarAlumnosResponse">
<part name="parameters" element="tns:ActualizarAlumnosResponse"/>
</message>
<portType name="WS01">
<operation name="EliminarAlumnos">
<input wsam:Action="http://ws.edu.idat/WS01/EliminarAlumnosRequest" message="tns:EliminarAlumnos"/>
<output wsam:Action="http://ws.edu.idat/WS01/EliminarAlumnosResponse" message="tns:EliminarAlumnosResponse"/>
</operation>
<operation name="ListarAlumnos">
<input wsam:Action="http://ws.edu.idat/WS01/ListarAlumnosRequest" message="tns:ListarAlumnos"/>
<output wsam:Action="http://ws.edu.idat/WS01/ListarAlumnosResponse" message="tns:ListarAlumnosResponse"/>
</operation>
<operation name="AgregarAlumnos">
<input wsam:Action="http://ws.edu.idat/WS01/AgregarAlumnosRequest" message="tns:AgregarAlumnos"/>
<output wsam:Action="http://ws.edu.idat/WS01/AgregarAlumnosResponse" message="tns:AgregarAlumnosResponse"/>
</operation>
<operation name="ActualizarAlumnos">
<input wsam:Action="http://ws.edu.idat/WS01/ActualizarAlumnosRequest" message="tns:ActualizarAlumnos"/>
<output wsam:Action="http://ws.edu.idat/WS01/ActualizarAlumnosResponse" message="tns:ActualizarAlumnosResponse"/>
</operation>
</portType>
<binding name="WS01PortBinding" type="tns:WS01">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="EliminarAlumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarAlumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarAlumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarAlumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS01">
<port name="WS01Port" binding="tns:WS01PortBinding">
<soap:address location="http://localhost:8080/ServiceWebSOAP/WS01"/>
</port>
</service>
</definitions>